*{
    /* margin: 0; */
    /* padding: 0; */
}

label{
    display: block;
}

select{
    margin: 15px 10px;
}

table{
    border-collapse: collapse;
    /* border: 2px solid green; */
}

th{
    text-align: center;
}
td, th{
    border: 2px solid green;
    padding: 5px;
}

.bold{
    font-weight: bold;
    text-align: center;
}